body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1249px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:429px;
}
#u1028 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:406px;
  width:255px;
  height:429px;
}
#u1028_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:429px;
}
#u1029 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:113px;
  width:255px;
  height:429px;
}
#u1029_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1030_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1030 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:83px;
  width:255px;
  height:30px;
}
#u1030_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1031 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:147px;
  width:152px;
  height:25px;
}
#u1031_input {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1032 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:483px;
  width:63px;
  height:25px;
}
#u1032_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1033_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1033 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:376px;
  width:255px;
  height:30px;
}
#u1033_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1034 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:441px;
  width:152px;
  height:25px;
}
#u1034_input {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:2px;
}
#u1035 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:416px;
  width:46px;
  height:1px;
}
#u1035_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:475px;
}
#u1036 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:260px;
  width:1px;
  height:474px;
}
#u1036_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:119px;
  height:19px;
}
#u1037p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:116px;
  height:6px;
}
#u1037p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:6px;
}
#u1037p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:4px;
  height:2px;
}
#u1037p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u1037p002 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:-10px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1037p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u1037 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:260px;
  width:110px;
  height:1px;
}
#u1037_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:119px;
  height:19px;
}
#u1038p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:116px;
  height:6px;
}
#u1038p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:6px;
}
#u1038p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:4px;
  height:4px;
}
#u1038p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u1038p002 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:-9px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1038p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u1038 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:733px;
  width:110px;
  height:1px;
}
#u1038_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:2px;
}
#u1039 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:821px;
  width:185px;
  height:1px;
}
#u1039_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:225px;
}
#u1040 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:594px;
  width:1px;
  height:224px;
}
#u1040_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:123px;
  height:19px;
}
#u1041p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:118px;
  height:6px;
}
#u1041p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:6px;
}
#u1041p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:4px;
  height:2px;
}
#u1041p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u1041p002 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:-10px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1041p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1041 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:594px;
  width:114px;
  height:1px;
}
#u1041_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u1042 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:804px;
  width:25px;
  height:23px;
}
#u1042_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u1043 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:512px;
  width:25px;
  height:23px;
}
#u1043_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1044 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:479px;
  width:32px;
  height:32px;
}
#u1044_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1045 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:479px;
  width:32px;
  height:32px;
}
#u1045_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1046 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:362px;
  width:56px;
  height:194px;
  font-size:18px;
}
#u1046_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u1047_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1047 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:548px;
  width:56px;
  height:194px;
  font-size:18px;
}
#u1047_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u1048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:2px;
}
#u1048 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:295px;
  width:62px;
  height:1px;
}
#u1048_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:315px;
}
#u1049 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:295px;
  width:1px;
  height:314px;
}
#u1049_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u1050 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:970px;
  width:200px;
  height:1px;
}
#u1050_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1051_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1051 {
  border-width:0px;
  position:absolute;
  left:848px;
  top:945px;
  width:152px;
  height:76px;
  font-size:18px;
}
#u1051_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u1052 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:423px;
}
#u1053 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:230px;
  width:256px;
  height:423px;
}
#u1053_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1054_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:454px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1054 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:199px;
  width:255px;
  height:454px;
}
#u1054_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1055_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1055 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:199px;
  width:255px;
  height:30px;
}
#u1055_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1056_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:424px;
}
#u1056 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:229px;
  width:255px;
  height:424px;
}
#u1056_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1057_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(194, 148, 89, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(245, 208, 157, 1);
  border-left:0px;
  border-radius:43px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1057 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:235px;
  width:120px;
  height:40px;
}
#u1057_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1058 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:239px;
  width:59px;
  height:18px;
}
#u1058_input {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1059 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:253px;
  width:59px;
  height:18px;
}
#u1059_input {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:79px;
}
#u1060 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:218px;
  width:95px;
  height:79px;
}
#u1060_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
}
#u1061 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:245px;
  width:24px;
  height:21px;
}
#u1061_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:25px;
}
#u1062 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:577px;
  width:48px;
  height:25px;
  -webkit-transform:rotate(350deg);
  -moz-transform:rotate(350deg);
  -ms-transform:rotate(350deg);
  transform:rotate(350deg);
  font-size:12px;
  color:#FFFFFF;
}
#u1062_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:44px;
  word-wrap:break-word;
}
#u1063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:25px;
}
#u1063 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:454px;
  width:48px;
  height:25px;
  -webkit-transform:rotate(9deg);
  -moz-transform:rotate(9deg);
  -ms-transform:rotate(9deg);
  transform:rotate(9deg);
  font-size:11px;
  color:#FFFFFF;
}
#u1063_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u1064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u1064 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:366px;
  width:60px;
  height:25px;
  -webkit-transform:rotate(9deg);
  -moz-transform:rotate(9deg);
  -ms-transform:rotate(9deg);
  transform:rotate(9deg);
  font-size:11px;
  color:#FFFFFF;
}
#u1064_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u1065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:25px;
}
#u1065 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:314px;
  width:48px;
  height:25px;
  -webkit-transform:rotate(350deg);
  -moz-transform:rotate(350deg);
  -ms-transform:rotate(350deg);
  transform:rotate(350deg);
  font-size:11px;
  color:#FFFFFF;
}
#u1065_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u1066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
}
#u1066 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:410px;
  width:60px;
  height:25px;
  -webkit-transform:rotate(350deg);
  -moz-transform:rotate(350deg);
  -ms-transform:rotate(350deg);
  transform:rotate(350deg);
  font-size:11px;
  color:#FFFFFF;
}
#u1066_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u1067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:429px;
}
#u1067 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:639px;
  width:255px;
  height:429px;
}
#u1067_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1068_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1068 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:609px;
  width:255px;
  height:30px;
}
#u1068_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1069 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:673px;
  width:152px;
  height:25px;
}
#u1069_input {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1070 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:1009px;
  width:63px;
  height:25px;
}
#u1070_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u1071 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:1038px;
  width:25px;
  height:23px;
}
#u1071_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1072_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.537254901960784);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(194, 148, 89, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1072 {
  border-width:0px;
  position:absolute;
  left:844px;
  top:660px;
  width:228px;
  height:140px;
}
#u1072_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1073_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1073 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:1005px;
  width:32px;
  height:32px;
}
#u1073_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1074_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1074 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:1005px;
  width:32px;
  height:32px;
}
#u1074_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1075_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:282px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.537254901960784);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(194, 148, 89, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1075 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:194px;
  width:228px;
  height:282px;
}
#u1075_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1076_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:308px;
}
#u1076 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:187px;
  width:308px;
  height:308px;
}
#u1076_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1077_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:282px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.537254901960784);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(194, 148, 89, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1077 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:713px;
  width:228px;
  height:282px;
}
#u1077_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1078_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:313px;
}
#u1078 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:708px;
  width:313px;
  height:313px;
}
#u1078_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1079_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:162px;
}
#u1079 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:491px;
  width:162px;
  height:162px;
}
#u1079_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1080_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:24px;
}
#u1080 {
  border-width:0px;
  position:absolute;
  left:1003px;
  top:619px;
  width:27px;
  height:24px;
}
#u1080_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1081_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:118px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1081 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:669px;
  width:191px;
  height:118px;
}
#u1081_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  word-wrap:break-word;
}
#u1082 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1083_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:105px;
  background:inherit;
  background-color:rgba(194, 148, 89, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1083 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:673px;
  width:6px;
  height:105px;
}
#u1083_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1084_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:35px;
  background:inherit;
  background-color:rgba(245, 208, 157, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1084 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:673px;
  width:6px;
  height:35px;
}
#u1084_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1085_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:2px;
}
#u1085 {
  border-width:0px;
  position:absolute;
  left:1018px;
  top:630px;
  width:124px;
  height:1px;
}
#u1085_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1086_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1086 {
  border-width:0px;
  position:absolute;
  left:1152px;
  top:604px;
  width:97px;
  height:64px;
  font-size:18px;
}
#u1086_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
